@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}



.nav-bar {
	background-color: white;
	box-shadow: 0 2px #222;
	position: sticky;
	height: 75px;
	display: flex;
  	align-items: center;
  	padding-left: 10%;
}

.siw-text{
	font-weight: 500;
	font-size: x-large;
	display: none;
}

.nav-menu{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.ali {
	text-decoration: none;
	color: #222;
}

.nav-bar li {
	list-style: none;
	font-size: larger;
}

.account-reg-log{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#reg-button{
	margin-bottom: 0.5rem;
}

.reg-log-button{
	text-decoration: none;
	color: #222;
	display: flex;
	justify-content: center;
	height: 110%;
	width: 140%;
	border-radius: 1rem;
	background-color: #dfdfdf;
	box-shadow: 0 0 2px 1px black;
}

.hamburger{
	display: none;
}

a:hover{
    text-decoration: underline;
}

.icons-home {
	height: 50px;
}


.empty-text{
	display: flex;
	justify-content: center;
	font-size: larger;
	margin-top: 4%;
}

.form-container{
	display: flex;
	justify-content: center;
	background-image:linear-gradient(rgba(86, 89, 92, 0.5),rgba(86, 89, 92, 0.5)),
	url(/images/addCar.jpg);
	background-position: center;
	background-size:cover;
	height:91.8vh;
	align-items: center;

}


.form{
	display: flex;
	flex-direction: column;
	gap: 3vh;
	background-color: #dfdfdf;
	width:30%;
	border-radius:30px;
	padding:20px 20px 20px 20px;
}
.form .header{
    text-align: center;
    margin: 10px 0 20px 0;
}

.error{
	text-align: center;
	color:red;
	font-size: 17px;
}

.input-box .input-field{
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    color: #222;
}
.input-field:focus{
    width: 103%;
}

.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 60px;
    background: #222;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}
.input-submit label{
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.submit-btn:hover{
    background: #000;
    transform: scale(1.05,1);
}
.sign-up-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}
.sign-up-link a{
    color: #000;
    font-weight: 600;
}

.img-input {
	display: flex;
	align-items: center;
	width: 100%;
	height: 60px;
	font-size: 17px;
	padding: 0 25px;
	margin-bottom: 15px;
	border-radius: 30px;
	background-color: white;
	color: #222;
	cursor: pointer;
	font-weight: 500;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
}




@media(max-width: 768px){
	
	.icons-home{
		margin: 0;
	}
	
	.nav-bar{
		min-height: 70px;
		justify-content: space-between;
		padding: 0 24px;
	}
	
	.ali{
		transition: 0.7s ease;
	}
	
	.hamburger{
		display: block;
		cursor: pointer;
	}
	
	.bar{
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: black;
	}
	
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	
	.nav-menu{
		position: fixed;
		padding: 0 50px 20px 0;
		right: -36%;
		top: 77px;
		flex-direction: column;
		background-color: white;
		box-shadow: -1px 1px 5px #222;
		width: 35%;
		transition: 0.3s;
		border-radius: 50px;
	}
	
	.siw-text{
		display: flex;
	}
	
	.nav-item{
		margin: 20px auto;
	}
	
	.nav-menu.active{
		right: -9%;
	}
	
	.reg-log-button{
		height: 140%;
		margin: 5px;
		width: 130%;
		background-color: #dfdfdf;
	}
}


@media(max-width: 600px){

	.nav-menu{
		width: 45%;
		right: -46%;
	}
}


