@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
	background-color: #dfdfdf
}

.nav-bar {
	background-color: white;
	box-shadow: 0 2px #222;
	position: sticky;
	height: 75px;
	display: flex;
  	align-items: center;
  	margin-bottom: 2%;
  	padding-left: 10%;
}

.siw-text{
	font-weight: 500;
	font-size: x-large;
	display: none;
}

.nav-menu{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.ali {
	text-decoration: none;
	color: #222;
}

.nav-bar li {
	list-style: none;
	font-size: larger;
}

.account-reg-log{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

#reg-button{
	margin-bottom: 0.5rem;
}

.reg-log-button{
	text-decoration: none;
	color: #222;
	display: flex;
	justify-content: center;
	height: 110%;
	width: 140%;
	border-radius: 1rem;
	background-color: #dfdfdf;
	box-shadow: 0 0 2px 1px black;
}

.hamburger{
	display: none;
}

a:hover{
    text-decoration: underline;
}

.icons-home {
	height: 50px;
}

.center{
	display: flex;
	justify-content: center;
}

.empty-text{
	display: flex;
	justify-content: center;
	font-size: larger;
	margin-top: 4%;
}

.search-bar {
	display: flex;
	align-items: center;
	margin: 3% auto;
	width: 30%;
	padding-right: 1%;
	border-radius: 50px;
	background-color: white;
	border: 1px solid black;
}

.search-box {
	padding: 0 1rem;
	width: 50vh;
}

#search-input {
	width: 100%;
	height: 50px;
	margin-left: 5px;
}

.search-box input {
	padding: 4%;
	font-size: 1rem;
	border: 0;
}

.search-box i {
	font-size: 1.3rem;
	cursor: pointer;
}

.search-box input::placeholder {
	font-weight: 500;
}

.input-box .input-field {
	display: table;
	width: 30vw;
	height: 60px;
	font-size: 17px;
	padding: 25px;
	border-radius: 30px;
	border: none;
	background-color: #222;
	box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
	outline: none;
	transition: .3s;
	color: white;
}

::placeholder {
	font-weight: 500;
	color: white;
}

.input-field:focus {
	width: 32vw;
}




@media(max-width: 768px){
	
	.icons-home{
		margin: 0;
	}
	
	.nav-bar{
		min-height: 70px;
		justify-content: space-between;
		padding: 0 24px;
	}
	
	.ali{
		transition: 0.7s ease;
	}
	
	.hamburger{
		display: block;
		cursor: pointer;
	}
	
	.bar{
		display: block;
		width: 25px;
		height: 3px;
		margin: 5px auto;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color: black;
	}
	
	.hamburger.active .bar:nth-child(2){
		opacity: 0;
	}
	.hamburger.active .bar:nth-child(1){
		transform: translateY(8px) rotate(45deg);
	}
	.hamburger.active .bar:nth-child(3){
		transform: translateY(-8px) rotate(-45deg);
	}
	
	.nav-menu{
		position: fixed;
		padding: 0 50px 20px 0;
		right: -36%;
		top: 77px;
		flex-direction: column;
		background-color: white;
		box-shadow: -1px 1px 5px #222;
		width: 35%;
		transition: 0.3s;
		border-radius: 50px;
	}
	
	.siw-text{
		display: flex;
	}
	
	.nav-item{
		margin: 20px auto;
	}
	
	.nav-menu.active{
		right: -9%;
	}
	
	.reg-log-button{
		height: 140%;
		margin: 5px;
		width: 130%;
		background-color: #dfdfdf;
	}
	
	.search-bar {
		width: 300px;
	}
	
	
	
}


@media(max-width: 600px){

	.nav-menu{
		width: 45%;
		right: -46%;
	}

}

