<!DOCTYPE hmtl>
<html lang="it">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title> Fornitore</title>
	<link rel="stylesheet" href="/css/car-sup.css?version=1.1" />
</head>

<body>
	<nav class="nav-bar">
		<a href="/">
			<img class="icons-home" src="/images/home.png"></img>
		</a>
		<h3 class="siw-text"> SiwConcessionario </h3>
		<ul class="nav-menu">
			<li class="nav-item">
				<a class="ali" href="/car">Catalogo</a>
			</li>
			<li class="nav-item">
				<a class="ali" href="/supplier">Fornitori</a>
			</li>
			<li th:if="${userDetails}" class="nav-item">
				<a class="ali" href="/optional">Optional</a>
			</li>
			<li class="nav-item">
				<div class="account-reg-log">
					<a th:if="${userDetails}" id="reg-button" class="reg-log-button" href="/logout"> Logout </a>
					<a th:unless="${userDetails}" id="reg-button" class="reg-log-button" href="/register"> Registrati </a>
					<a th:unless="${userDetails}" class="reg-log-button" href="/login"> Login </a>
				</div>
			</li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>

	<div th:if="${supplier}">
		<div class="title">
			<h2 th:text="${supplier.name} + ' ' + ${supplier.surname} "> Nome Cognome </h2>
		</div>
		<div class="img-text">
			<div>
				<img class="img" style="max-height: 30rem;" th:src="@{/images/__${supplier.urlImage}__}">
			</div>
			<div class="infos" id="text-sup">
				<br>
				<span> Anno:
					<span th:text="${#temporals.format(supplier.birth, 'dd-MM-yyyy')}"> anno </span>
				</span>
			</div>
		</div>
	</div>

	<div th:unless="${supplier}">Non esiste</div>


	<script>
		const hamburger = document.querySelector(".hamburger");
		const navMenu = document.querySelector(".nav-menu");
		hamburger.addEventListener("click", () => {
			hamburger.classList.toggle("active");
			navMenu.classList.toggle("active");
		})
		document.querySelectorAll(".nav-link").forEach(n => n.addeaddEventListener("click", () => {
			hamburger.classList.remove("active");
			navMenu.classList.remove("active");
		}))
	</script>
</body>

</html>